body {
    background-color: #CBD18F;
    border: #3A6B35 3px solid;
    margin: 1% 10% 1% 10%;
    padding: 2% 1% 2% 1%;
}

html {
    background-color: #E3B448;
}

h1 {
    margin-top: 30px;
    border-bottom: #3A6B35 1px solid;
}

hr {
    border-color: #3A6B35;
    border-width: 1px;
}

footer {
    color: grey;
    font-size: 0.7em;
    margin-bottom: 10px;
    font-weight: lighter;
}
